.ItemList{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;

}
.cardArticulo{    
    margin: 15px 1rem;
    transition: 200ms ;
    
}
 
.contenedorImagen{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.cardImage{
    object-fit: cover;
}
.titleArticulo{
    height:2.8rem;
    text-align:center;
    font-family: 'Metamorphous';

}



