
.navBarContainer{
    display:flex;
    flex-wrap: wrap;
    background-color: #113f60;
}
.divBrand{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right:15px;
}
.logoDragonDorado{
    margin-right:10px;
}
.typographyBrand{
    font-family: 'Modern Antiqua', sans-serif;
    color: #ebe3d1;
    margin-left:10px;
    text-decoration:none;
}
.fantasyStore{
    color:#cda280;
}

.cartWidget{
    display: flex;
    flex-direction:row;
    align-items: center;
    color:#cda280;
}
.SeVe{
    display:block;
}
.NoSeVe{
    display:none;
}

/*MEDIA QUERY PARA SMARTPHONE*/
@media (max-width: 480px) {
    .fantasyStore{
        display:none;
    }
}
